{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

{% csrf_token %}
<div id="header">
    <ul>
        <li><a href="/">Сайт</a></li>
        {% if username %}
        <li id="logout"><a href="/auth/logout/">Выйти {{ username }}</a></li>
        {% else %}
        <li><a href="/auth/login/">Войти</a></li>
        {% endif %}
    </ul>
</div>

<div id="articles">
    {% block idea %}{% endblock %}
    {% block login %}{% endblock %}
</div>
</body>
</html>